doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7(ng-app='daggerApp', ng-controller='brandingCtrl')  
//if IE 7
  html.no-js.lt-ie9.lt-ie8(ng-app='daggerApp', ng-controller='brandingCtrl')  
//if IE 8
  html.no-js.lt-ie9(ng-app='daggerApp', ng-controller='brandingCtrl')  
// [if gt IE 8] <!
html.no-js(ng-app='daggerApp', ng-controller='brandingCtrl')
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title {{branding.title}}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(href='apple-touch-icon-57x57.png', rel='apple-touch-icon', sizes='57x57')
    link(href='apple-touch-icon-114x114.png', rel='apple-touch-icon', sizes='114x114')
    link(href='apple-touch-icon-72x72.png', rel='apple-touch-icon', sizes='72x72')
    link(href='apple-touch-icon-144x144.png', rel='apple-touch-icon', sizes='144x144')
    link(href='apple-touch-icon-60x60.png', rel='apple-touch-icon', sizes='60x60')
    link(href='apple-touch-icon-120x120.png', rel='apple-touch-icon', sizes='120x120')
    link(href='apple-touch-icon-76x76.png', rel='apple-touch-icon', sizes='76x76')
    link(href='apple-touch-icon-152x152.png', rel='apple-touch-icon', sizes='152x152')
    link(href='favicon-196x196.png', rel='icon', sizes='196x196', type='image/png')
    link(href='favicon-160x160.png', rel='icon', sizes='160x160', type='image/png')
    link(href='favicon-96x96.png', rel='icon', sizes='96x96', type='image/png')
    link(href='favicon-16x16.png', rel='icon', sizes='16x16', type='image/png')
    link(href='favicon-32x32.png', rel='icon', sizes='32x32', type='image/png')
    link(rel='stylesheet', href='landing/css/bootstrap.min.css')
    link(rel='stylesheet', href='landing/css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    script(src='landing/js/modernizr-2.6.2-respond-1.1.0.min.js')
    script(src='landing/js/jquery.min.js')
    script(src='landing/js/bootstrap.min.js')
  body
    //if lt IE 7
      p.chromeframe
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  or 
        a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
        |  to improve your experience.
    .container
      .header
        h3.text-muted(style='font-size: 3em;')
          img(src='landing/images/chorus.png', style='height: 1.6em;')
      .row.marketing
        .jumbotron
          p.lead
            | Current and historic compliance of publications reporting on federally funded research.
        p.lead Currently available for:
        ul.lead
          li
            a(href='nsf') National Science Foundation
          li      
            a(href='smithsonian') Smithsonian
          li
            a(href='usaid') U.S. Agency for International Development
          li
            a(href='usdoa') U.S. Department of Agriculture
          li
            a(href='usdod') U.S. Department of Defense
          li
            a(href='usdoe') U.S. Department of Energy
          li
            a(href='usdhhs') U.S. Department of Health and Human Services
          li
            a(href='usdoi') U.S. Department of Interior
      .footer
        p
          a.feedback(href='http://chorusaccess.org/contact-us') Leave feedback
    // /container
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\\/script>')
    script.
      var BACON = BACON || {};
      BACON.id = 'bfUh0jQZhP7blgj9';
      BACON.starttime = new Date().getTime();
      (function(d, s) { var js = d.createElement(s);
          js.async = true; js.src = "//d2vig74li2resi.cloudfront.net/rum/bacon.min.js";
          var s = d.getElementsByTagName(s)[0]; s.parentNode.insertBefore(js, s);
      })(document, "script");
    script(src='js/vendor/bootstrap.min.js')
    script(src='js/main.js')
